@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Roboto:wght@100&display=swap');

:root {
  --main-text-color: white;
  --main-bg-color: #0b0b0b;
  --green-color: #9dcc0b;
  --red-color: #f43e3a;
  --blue-color: #3fcdfa;
  --orange-color: #fca116;
}

body {
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  font-family: 'Roboto Mono', monospace;
  
}
.container {
  margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: var(--main-text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%; 
  height: auto;
}

.avatar {
	width: 150px;
	height: 150px;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}